<div class="topbar">
    <div class="topbar-left">
        <div class="text-center">
            <a>
                <span><img src="{{ asset ('/neon/public/minton/images/LogoGrisClarox100.png') }}" height="65"></span>
            </a>
        </div>
    </div>
</div>