<div class="side-bar right-bar">
    <div class="">
        <ul class="nav nav-tabs tabs-bordered nav-justified">
            <li class="nav-item">
                <a href="#home-2" class="nav-link active" data-toggle="tab" aria-expanded="false">
                    Campos básicos
                </a>
            </li>
            <li class="nav-item">
                <a href="#messages-2" class="nav-link" data-toggle="tab" aria-expanded="true">
                    Campos avanzados
                </a>
            </li>
        </ul>
        <div class="tab-content">
            <div class="tab-pane fade show active" id="home-2">
                <div class="timeline-2">
                    <div class="time-item">
                        <div class="item-info">
                            <small class="text-muted">campos</small>
                            <p><strong><a href="#" class="text-info">
                                    </a></strong> <strong></strong></p>
                        </div>
                    </div>
                    <div class="time-item">
                        <div class="item-info">
                            <small class="text-muted">campos</small>
                            <p><a href="#" class="text-info"></a></p>
                            <p><em></em></p>
                        </div>
                    </div>
                    <div class="time-item">
                        <div class="item-info">
                            <small class="text-muted"></small>
                            <p><a href="#" class="text-info"></a> <a href="#" class="text-success"></a>.</p>
                            <p><em></em></p>
                        </div>
                    </div>
                    <div class="time-item">
                        <div class="item-info">
                            <small class="text-muted"></small>
                            <p><strong><a href="#" class="text-info"></a></strong></p>
                        </div>
                    </div>
                    <div class="time-item">
                        <div class="item-info">
                            <small class="text-muted"></small>
                            <p><a href="#" class="text-info"></a> </p>
                            <p><em></em></p>
                        </div>
                    </div>
                    <div class="time-item">
                        <div class="item-info">
                            <small class="text-muted"></small>
                            <p><a href="#" class="text-info"></a> <a href="#" class="text-success"></a>.</p>
                            <p><em></em></p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="tab-pane" id="messages-2">
                <div class="row m-t-20">
                    <div class="col-8">
                        <h5 class="m-0 font-15">campos</h5>
                        <p class="m-b-0 text-muted"><small></small></p>
                    </div>
                    <div class="col-4 text-right">
                        <input type="checkbox" checked data-plugin="switchery" data-color="#3bafda" data-size="small"/>
                    </div>
                </div>
                <div class="row m-t-20">
                    <div class="col-8">
                        <h5 class="m-0 font-15">campos</h5>
                        <p class="m-b-0 text-muted"><small></small></p>
                    </div>
                    <div class="col-4 text-right">
                        <input type="checkbox" checked data-plugin="switchery" data-color="#3bafda" data-size="small"/>
                    </div>
                </div>
                <div class="row m-t-20">
                    <div class="col-8">
                        <h5 class="m-0 font-15">campos</h5>
                        <p class="m-b-0 text-muted"><small></small></p>
                    </div>
                    <div class="col-4 text-right">
                        <input type="checkbox" checked data-plugin="switchery" data-color="#3bafda" data-size="small"/>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
