<div class="left side-menu">
    <div class="sidebar-inner slimscrollleft">
        <div id="sidebar-menu">
            <ul>
                <li class="menu-title">Menú</li>
                <li class="has_sub">
                    <a href="javascript:void(0);" class="waves-effect"><i class="mdi-view-headline"></i> <span> Actividades </span>
                        <span class="menu-arrow"></span></a>
                    <ul class="list-unstyled" style="display: none;">
                        <li class="has_sub">
                            <a href="" class="waves-effect">
                                <i class="mdi mdi-phone-incoming"></i>
                                <span> Crear </span>
                            </a>
                        </li>
                    </ul>
                </li>
                <li class="has_sub">
                    <a href="javascript:void(0);" class="waves-effect"><i class="mdi mdi-invert-colors"></i> <span> Clientes </span>
                        <span class="menu-arrow"></span>
                    </a>
                    <ul class="list-unstyled" style="display: none;">
                        <li class="has_sub">
                            <a href="" class="waves-effect">
                                <i class="glyphicon glyphicon-th-large"></i>
                                <span> Crear </span>
                            </a>
                        </li>
                    </ul>
                </li>
                <li class="has_sub">
                    <a href="javascript:void(0);" class="waves-effect"><i class="mdi mdi-watermark"></i> <span> Sedes </span>
                        <span class="menu-arrow"></span></a>
                    <ul class="list-unstyled">
                        <li><a href="">
                                <i class="glyphicon glyphicon-list-alt"></i>
                                <span>Pendientes</span>
                            </a></li>
                    </ul>
                </li>
                <li class="has_sub">
                    <a href="javascript:void(0);" class="waves-effect"><i class="mdi-google-circles-extended"></i> <span> Puntos </span>
                        <span class="menu-arrow"></span></a>
                    <ul class="list-unstyled">
                        <li><a href="">
                                <i class="glyphicon glyphicon-list-alt"></i>
                                <span>Pendientes</span>
                            </a></li>
                    </ul>
                </li>
                <li class="has_sub">
                    <a href="javascript:void(0);" class="waves-effect"><i class="mdi mdi-invert-colors"></i> <span> Usuarios </span>
                        <span class="menu-arrow"></span></a>
                    <ul class="list-unstyled">
                        <li><a href="">
                                <i class="glyphicon glyphicon-list-alt"></i>
                                <span>Pendientes</span>
                            </a></li>
                    </ul>
                </li>
                <li class="has_sub">
                    <a href="javascript:void(0);" class="waves-effect"><i class="mdi mdi-invert-colors"></i> <span> Ubicación </span>
                        <span class="menu-arrow"></span></a>
                    <ul class="list-unstyled">
                        <li><a href="">
                                <i class="glyphicon glyphicon-list-alt"></i>
                                <span>Casos</span>
                            </a></li>
                    </ul>
                </li>
                <li class="has_sub">
                    <a href="javascript:void(0);" class="waves-effect"><i class="mdi mdi-invert-colors"></i> <span> Reportes </span>
                        <span class="menu-arrow"></span></a>
                    <ul class="list-unstyled">
                        <li><a href="">
                                <i class="glyphicon glyphicon-list-alt"></i>
                                <span>Lista</span>
                            </a></li>
                    </ul>
                </li>
            </ul>
        </div>
    </div>
</div>
