<footer style="text-align: center;">
    2018 © Soportado por: <a href="http://appsoga.com" target="_blank">AppSoga</a> | <img src="{{ asset('/neon/public/minton/images/Logox100.png') }}" style="height: 50px;" />
</footer>
