<footer class="footer">
    2018 © | Soportado por: <a href="http://appsoga.com" target="_blank">AppSoga</a> | <img src="{{ asset('/neon/public/images/Logox100.png') }}" style="height: 40px;" />
</footer>

