<script src="https://cdn.auth0.com/js/lock/10.20/lock.min.js"></script>
<script>
    var lock = new Auth0Lock('fiWzdmqAk6pQf4DWf9xBHPOM5ENuR6fr', 'testsogapp.auth0.com');


    function signin() {
        lock.show({
            callbackURL: ''
            , responseType: 'code'
            , authParams: {
                scope: ''
            }
        });
    }
</script>

<button onclick="signin()">Login</button>