<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>{% block title %}Neón{% endblock %}</title>
    {% block stylesheets %}
        <link rel="shortcut icon" href="/neon/public/images/logo-segurcol.ico">
        <link href="/neon/public/css/bootstrap.min.css" rel="stylesheet" type="text/css">
        <link href="/neon/public/css/icons.css" rel="stylesheet" type="text/css">
        <link href="/neon/public/css/style.css" rel="stylesheet" type="text/css">
    {% endblock %}
</head>
<body {% block bodyAtt %}class="fixed-left"{% endblock %}>
<div id="wrapper">
    {{ include('bloquesGenerales/menuIzquierdo.html.twig') }}
    <div class="content-page">
        <div class="content">
            {{ include('bloquesGenerales/encabezado.html.twig') }}
            {% block content %}

            {% endblock %}
            {{ include('bloquesGenerales/pie.html.twig') }}
        </div>
    </div>
</div>
{% block javascripts %}
    <script src="/neon/public/js/jquery.min.js"></script>
    <script src="/neon/public/js/bootstrap.min.js"></script>
{% endblock %}
</body>
</html>