<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>{% block title %}Neón{% endblock %}</title>
    {% block stylesheets %}
        <link href="{{ asset('https://stackpath.bootstrapcdn.com/bootstrap/4.1.0/css/bootstrap.min.css') }}" rel="stylesheet">
    {% endblock %}
</head>
<body>
{% block navigation %}
    <nav>
        <div class="nav-wrapper">
            <ul id="nav-mobile" class="right">
                {% if is_granted('IS_AUTHENTICATED_FULLY') %}
                    <li><a href="{{ path('logout') }}">Logout</a></li>
                {% else %}

                {% endif %}
            </ul>
        </div>
    </nav>
{% endblock %}

<div class="container">
    {% block body %}{% endblock %}
</div>
{% block javascripts %}

{% endblock %}
</body>
</html>